body {
  text-align: center;
  background-color: #cff1ef;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.header {
  background-color: #ff896b;
}

.info {
  background-color: #cff1ef;
}

.info_text {
  font-size: 1.8rem;
  font-family: 'Roboto Slab', serif;
  margin-left: 40%;
  margin-right: 30%;
}

.modal-title{
  font-family: 'Pacifico', cursive;
}

.modal-body-description{
  font-family: 'Roboto Slab';
}

.navbar-brand {
  font-size: 1.5rem;
  font-family: 'Pacifico', cursive;
}

.stat {
  float: none;
}

.btn-visualize {
  background-color: #1ba1e2;
}

table {
  background-color: #fcf8f3;
}

table td
{
  padding: 15px;
}

table td:hover
{
  background-color: rgb(33, 36, 61);
}

.btn-algo:hover
{
  color: white;
  background-color: #ff1e56;
}

.btn-clear-path:hover
{
  color: white;
  background-color: #ff1e56;
}

.btn-visualize:hover
{
  background-color: #481380;
}

.table-wrap {
  margin-left: 0.75%;
  margin-right: 0.75%;
  margin-top: .90%;

}

.Speed_selector {
  font-weight: bold;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.myImage_Destination{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom : 30%;
  z-index: 5;
}

.myGif{
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top : 80%;
  z-index: 5;
}

.algorithmGif{
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top : 80%;
  z-index: 5;
}

.myImage_start{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 25%;
  right: 0;
  bottom : 30%;
  z-index: 4;
}
/* ANIMATIONS */
/* FLAGS ANIMATION */
.flip-in-hor-bottom {
	-webkit-animation: flip-in-hor-bottom 0.2s linear both;
	        animation: flip-in-hor-bottom 0.2s linear both;
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}

/* SHAKE ANIMATION */
.shake-bottom {
	-webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

/* CHANGING WALLS ANIMATION */
.scale-up-center {
	-webkit-animation: scale-up-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
	        animation: scale-up-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}



/* COLOR CHANGE ANIMATION */
/* SEARCH COLOUR CHANGE ANIMATION */
.color-change-2x {
	-webkit-animation: color-change-2x 800ms linear alternate both;
	        animation: color-change-2x 800ms linear alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #000000;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    background: #ff0097;
    opacity: 0.8;

    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes color-change-2x {
  0% {
    background: #000000;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    background: #ff0097;
    opacity: 0.8;

    -webkit-transform: scale(1);
            transform: scale(1);

  }
}

/* SHORTEST PATH COLOR CHANGE ANIMATION */
.color-change-shortest {
	-webkit-animation: color-change-shortest 1200ms linear infinite alternate both;
	        animation: color-change-shortest 1200ms linear infinite alternate both;
}

@-webkit-keyframes color-change-shortest {
  0% {
    background: #ff0091;
  }
  100% {
    background: #0059FF;
  }
}

@keyframes color-change-shortest {
  0% {
    background: #deff00;
  }
  20% {
    background: #ffc400;
  }
  35% {
    background: #ff7b3b;
  }
  40% {
    background: #ff1e82;
  }
  45% {
    background: #ff00c6;
  }
  50% {
    background: #c75cf0;
  }
  60% {
    background: #7f7eff;
  }
  70% {
    background: #0092ff;
  }
  80% {
    background: #00b2ff;
  }
  90% {
    background: #00e8ff;
  }
  100% {
    background: #00ffef;
  }
}
